@model GenreGetVM
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- DataTales Example -->
    <div class="text-danger">@ViewBag?.Err</div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>CreatedAt</th>
                            <th>ModifiedAt</th>
                            <th>IsDeleted</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null)
                        {

                            <tr>
                                <td>Model.Id</td>
                                <td>Model.Name</td>
                                <td>Model.CreatedAt</td>
                                <td>Model.ModifiedAt</td>
                                <td>Model.IsDeleted</td>

                            </tr>
                        }

                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
            </div>